<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
           "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en_US" xml:lang="en_US">
<head>
                <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
                <title>OpenAPI 2.0 - 지도 생성</title>
                <!-- prevent IE6 flickering -->
                <script type="text/javascript">
                        try {document.execCommand('BackgroundImageCache', false, true);} catch(e) {}
                </script>

<script type="text/javascript" src="http://openapi.map.naver.com/openapi/naverMap.naver?ver=2.0&key=bf2fe1928443532202b21b99e4866334"></script>
</head>

<div id = "testMap"></div>
 
    <script type="text/javascript">
            var oPoint = new nhn.api.map.LatLng(37.5010226, 127.0396037);
            nhn.api.map.setDefaultPoint('LatLng');
            oMap = new nhn.api.map.Map('testMap' ,{
                                    point : oPoint,
                                    zoom : 10,
                                    enableWheelZoom : true,
                                    enableDragPan : true,
                                    enableDblClickZoom : false,
                                    mapMode : 0,
                                    activateTrafficMap : false,
                                    activateBicycleMap : false,
                                    minMaxLevel : [ 1, 14 ],
                                    size : new nhn.api.map.Size(840, 840)
                            });
    </script>

    
</html>

