<div class="map">
<!DOCTYPE html>
<html>
    <head>
        <title>지도 검색</title>
        </head>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0" />
        <script type="text/javascript" src="jquery-1.6.4.min.js"></script>
        <script type="text/javascript" src="http://apis.daum.net/maps/maps3.js?apikey="></script>
        <script>
			//변수 설정 및 최초 위치 설정
            var map;
            var marker = '';
            var position = new daum.maps.LatLng(37.572730, 126.970204);
			
			$("#map").ready(function() {
				//검색창에 엔터 입력시 좌표 검색
                $("#txtAddress").keydown(function(e) {
                    if (e.keyCode == 13) {
                        Search();
                    }
                });
				
				//지도 초기화
                map = new daum.maps.Map(document.getElementById('map'), {
                    center: position,
                    level: 4,
                    mapTypeId: daum.maps.MapTypeId.ROADMAP
                });

/*                marker = new daum.maps.Marker({
                    position: position
                });

                marker.setMap(map)
*/
				//지도상의 위치 클릭시 클릭한 위치의 좌표 확인
                daum.maps.event.addListener(map, "click", function(e) {
					//기존에 설정된 마커 삭제
                    if (marker != '') {
                        marker.setMap(null);
                    }
					//temp에 새로 클릭된 좌표 입력
					var temp = new daum.maps.LatLng(e.latLng.Ea, e.latLng.Da);
					//좌표 출력
                    $("#latlng").html("동경 " + e.latLng.Ea.toString().substr(0, 10) + ", 북위 " + e.latLng.Da.toString().substr(0, 10));
					//temp에 입력된 좌표값을 중심으로 지도 이동
                    map.panTo(temp);
					//temp에 입력된 좌표값에 마커 설정
                    marker = new daum.maps.Marker({
                        position: temp
                    });
                    marker.setMap(map);
                });
            });

            function Search() {
                var query = $("#txtAddress").val();
                $("#txtAddress").val('');
                getPoint(query);
            }

			//주소->좌표로 변환해주는 api 사용
            function getPoint(query) {
                var oScript = document.createElement("script");
                oScript.type = "text/javascript";
                oScript.charset = "utf-8";
                oScript.src = "http://apis.daum.net/local/geo/addr2coord?apikey=f8ab409992af7eadee3762524f2b1f44&output=json&callback=pongSearch&q=" + encodeURI(query);
                document.getElementsByTagName("head")[0].appendChild(oScript);
            }
			
			//좌표 변환 후 해당 좌표를 이용해 콜백(클릭시와 동일한 동작)
            function pongSearch(data) {
                marker = '';
                if (data.channel.item.length == 0) {
                    alert("결과가 없습니다.");
                } else {
                    if (marker != '') {
                        marker.setMap(null);
                    }
                    var temp = new daum.maps.LatLng(data.channel.item[0].lat, data.channel.item[0].lng);
                    $("#latlng").html((data.channel.item[0].lat).toString().substring(0, 10) + ", " + (data.channel.item[0].lng).toString().substring(0, 10));
                    map.panTo(temp);
                    marker = new daum.maps.Marker({
                        position: temp
                    });
                    marker.setMap(map);
                }
            }

            
        </script>
    </head>
    <body>
	    <div>
	        <label>주소검색 : </label>
	        <input id = "txtAddress" type="text" style="width : 1000px">
	        <button type="button" onclick="Search();">주소찾기</button>
        </div>
        <div>
	        <label>좌표 : </label>
	        <label id="latlng"></label>
	    </div>

        <div id = "map" style="width : 100%; height:800px">
	    </div>
    </body>
</html>