<html>
    <body>
	   <div class="home_comment_1">
            <div class="comment_1_1">
                <label> Keep Pet </label> <br>
            </div>
            <div class="comment_1_2">
                <label> 외로움으로부터 당신의 소중한 가족을 지켜주세요. </label>
            </div>
	   </div>

	   <input type="text" onclick="location.href='/hospitals'"
       id="search_box_home", placeholder="     내 주변 동물병원 찾기">
	   <%= image_tag "search_icon.png", class: "search_icon_home" %>

	   <div class="thumbnail thumbnail_home_top_img" id="main_img_crop">
		  <%= image_tag "main_img_crop.png", class: "main_img" %>
	   </div>	

	   <%= render 'static_pages/good_hospital' %>
    </body>
</html>