<html>
    <input type="text" id="sample5_address" placeholder="주소">
    <input type="button" onclick="sample5_execDaumPostcode()" value="주소 검색"><br>
    <div>
    	<label>좌표 : </label>
    	<label id="latlng"></label>
    </div>
    <div id="map" style="width:1150px;height:600px;margin-top:10px;display:none"></div>

    <script src="http://dmaps.daum.net/map_js_init/postcode.v2.js"></script>
    <script src="//apis.daum.net/maps/maps3.js?apikey=&libraries=services"></script>
    <script>
        var mapContainer = document.getElementById('map'), // 지도를 표시할 div
        mapOption = {
                center: new daum.maps.LatLng(37.537187, 127.005476), // 지도의 중심좌표
                level: 5 // 지도의 확대 레벨
            };

        //지도를 미리 생성
        var map = new daum.maps.Map(mapContainer, mapOption);
        //주소-좌표 변환 객체를 생성
        var geocoder = new daum.maps.services.Geocoder();
        //마커를 미리 생성
        var marker = new daum.maps.Marker({
        	position: new daum.maps.LatLng(37.537187, 127.005476),
        	map: map
        });

        function sample5_execDaumPostcode() {
        	new daum.Postcode({
        		oncomplete: function(data) {
                    // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                    // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                    var fullAddr = data.address; // 최종 주소 변수
                    var extraAddr = ''; // 조합형 주소 변수

                    // 기본 주소가 도로명 타입일때 조합한다.
                    if(data.addressType === 'R'){
                        //법정동명이 있을 경우 추가한다.
                        if(data.bname !== ''){
                        	extraAddr += data.bname;
                        }
                        // 건물명이 있을 경우 추가한다.
                        if(data.buildingName !== ''){
                        	extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                        }
                        // 조합형주소의 유무에 따라 양쪽에 괄호를 추가하여 최종 주소를 만든다.
                        fullAddr += (extraAddr !== '' ? ' ('+ extraAddr +')' : '');
                    }

<<<<<<< HEAD
                // 주소 정보를 해당 필드에 넣는다.
                document.getElementById("sample5_address").value = fullAddr;
                // 주소로 좌표를 검색
                geocoder.addr2coord(data.address, function(status, result) {
                    // 정상적으로 검색이 완료됐으면
                    if (status === daum.maps.services.Status.OK) {
                        // 해당 주소에 대한 좌표를 받아서
                        var coords = new daum.maps.LatLng(result.addr[0].lat, result.addr[0].lng);
                        // 지도를 보여준다.
                        mapContainer.style.display = "block";
                        map.relayout();
                        // 지도 중심을 변경한다.
                        map.setCenter(coords);
                        // 마커를 결과값으로 받은 위치로 옮긴다.
                        marker.setPosition(coords)
                    }
                });
            }
        }).open();
}

    //주소->좌표로 변환해주는 api 사용
    function getPoint(query) {
    	var oScript = document.createElement("script");
    	oScript.type = "text/javascript";
    	oScript.charset = "utf-8";
    	oScript.src = "http://apis.daum.net/local/geo/addr2coord?apikey=f8ab409992af7eadee3762524f2b1f44&output=json&callback=pongSearch&q=" + encodeURI(query);
    	document.getElementsByTagName("head")[0].appendChild(oScript);
=======
                    // 주소 정보를 해당 필드에 넣는다.
                    document.getElementById("sample5_address").value = fullAddr;
                    // 주소로 좌표를 검색
                    geocoder.addr2coord(data.address, function(status, result) {
                        // 정상적으로 검색이 완료됐으면
                        if (status === daum.maps.services.Status.OK) {
                            // 해당 주소에 대한 좌표를 받아서
                            var coords = new daum.maps.LatLng(result.addr[0].lat, result.addr[0].lng);
                            // 지도를 보여준다.
                            mapContainer.style.display = "block";
                            map.relayout();
                            // 지도 중심을 변경한다.
                            map.setCenter(coords);
                            // 마커를 결과값으로 받은 위치로 옮긴다.
                            marker.setPosition(coords)
                        }
                    });
                }
            }).open();
>>>>>>> f295274f63cd75a4b7574d1b5329758573def828
    }

        //주소->좌표로 변환해주는 api 사용
        function getPoint(query) {
        	var oScript = document.createElement("script");
        	oScript.type = "text/javascript";
        	oScript.charset = "utf-8";
        	oScript.src = "http://apis.daum.net/local/geo/addr2coord?apikey=&output=json&callback=pongSearch&q=" + encodeURI(query);
        	document.getElementsByTagName("head")[0].appendChild(oScript);
        }
    </script>
    <body>
    <%= link_to "내 위치 검색", hospitals_path, class: "btn btn-lg btn-primary", 'data-no-turbolink' => true %>
    </body>
</html>