// Place all the styles related to the Hospitals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.col-xs-9{
   padding-right: 0px;
   padding-left: 0px;
}

#h_index{
   bakcground-color: #E8E8E8;
   color : black;
   &:hover {
      text-decoration: none;
   }
   a{
    text-decoration: none;
   }
   a:hover{
    text-decoration: none;
   }
}

.h_body {
  background-color: #ffffff;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px; 
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px; 
  padding : 1em;
  margin-bottom: 15px;

    border:4px solid #ffffff;
   &:hover {
      border:4px solid #66ccb9

      ;
   }
}

#h_name {
  max-width:    257px;
  font-weight: 600;
  font-size: 18px;
  color: #555555;
}

#h_address{
  font-size: 14px;
  color: #555555;
}

#h_grade_font{
  font-size: 10px;
  color: #555555;
}


.jQuery_hover{
   border:4px solid #66ccb9;
}

#map_margin_top{
   margin-top: -5.5%;
}

.map_page_right{
   padding: 0px 0px 12px 24px;
   height: 800px;
   overflow-y: auto;
   bakcground-color: #E8E8E8;
}
::-webkit-scrollbar{
      display: none;
}


/* hospital show information*/
#hospital_info{
  width: 1000px;
  height:500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: #fff;
  border-color: #000;
  border-radius: 5px;
  img{
    margin-bottom: 10px;
    margin-top: 10px;
  }
}

#hospital_album{
  width: 300px;
  height: 300px;
}

#hospital_detail{
  width: 680px;
  height: 280px;
  margin: 10px;
  padding-top: 20px;
  background-color: #fff;
  color: #a0a0a0;
  font-weight: 100;
}
#hospital_grade_text{
  margin-left: 10px;
  color: #555;
  font-weight: 100px;
}
#hospital_detail_name{
  font-size: 28px;
  color: #222;
  font-weight: 700;
}

#hospital_detail_left{
  width: 15%;
  color: #222;
  font-weight: bold;
  padding-left: 0px;
}
#hospital_detail_right{
  width: 85%;
}
#hospital_detail_price{
  color: #222;
  font-weight: bold;
  line-height: 2.2em;
}

#hospital_detail_option{
}
#hospital_option{
  width: 1000px;
  height: 1500px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  border-radius: 5px;
}

/* Calendar */

/* Calendar */

#select{
  width: 1000px;
  height: 50px;
  background-color: #fff;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-left: 10px;
}

.nav-tabs{
  border: 0px;
  font-weight: 700;
  a{
  color: #555;
  }
  a:hover{
    color:#66ccb9;
  }
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
  border: transparent;
  margin-left: 15px;
  margin-top: 15px;
  font-size: 16px;
  color: #66ccb9;
}

.nav-tabs > li > a{
  margin-top: 15px;
  font-size: 16px;
  margin-left: 15px;
  border: transparent;
}

.nav-tabs > li > a:hover{
  border-color: transparent;
}

.nav > li > a:hover, .nav > li > a:focus{
  background-color: transparent;
  color: #66ccb9;
}

#select_calendar{
  height: 50px;
  display: inline;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
}

#select_question{
  height: 50px;
  display: inline;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
}

#select_review{
  height: 50px;
  display: inline;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
}

#hr_calendar{
  width: 950px;
  margin-left: auto;
  margin-right: auto;
  hr{
    border-color: #e1e1e1;
  }
}
.table > thead > tr > th{
  border-bottom: 0px;
}
.table-striped > tbody > tr:nth-child(odd) > td, .table-striped > tbody > tr:nth-child(odd) > th{
  background-color: #fff;
}
.table > thead > tr > th, .table > thead > tr > td, .table > tbody > tr > th, .table > tbody > tr > td, .table > tfoot > tr > th, .table > tfoot > tr > td{
  border: 1px dotted #ddd;
}
.simple-calendar{
  text-align: center;
  margin-top: 50px;
  width: 875px;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  color: #707070;
  .table > caption + thead > tr:first-child > th, .table > caption + thead > tr:first-child > td, .table > colgroup + thead > tr:first-child > th, .table > colgroup + thead > tr:first-child > td, .table > thead:first-child > tr:first-child > th, .table > thead:first-child > tr:first-child > td{
    text-align:center;
    background-color: #ccc;
    color: #fff;
    text-transform: uppercase;
  }
  .table{
    margin-top: 30px;
    background-color: #fff;
  }
  .day{
    text-align: left;
  }
  .wday-0 {
    /*SUN*/
    color: #fd915f;
  }
  .wday-6 {
    /*SAT*/
    color: #5ac6da;
  }
  .today {}
  .past {
    color: #d5d5d5;
    font-size: 12px;
    font-weight: 300;
  }
  .future {}
  .prev-month {
    font-size: 16px;
  }
  .next-month {
    font-size: 16px;
   }
  .current-month {
    font-size: 16px;
    font-weight: 700;
    p {
      font-weight: normal;
    }

  }
  .start-date {

  }
  .has-events {
  }
  #meeting_title{
    font-size: 16px;
  }
}

.simple-calendar .past{
  font-size: 0px;
}

.table-striped > tbody > tr:nth-child(odd) > td, .table-striped > tbody > tr:nth-child(odd) > th{
  width: 125px;
  max-width: 125px;
  height: 125px;
  max-height: 125px;
  display: inline-block;
}
.table > thead > tr > th, .table > thead > tr > td, .table > tbody > tr > th, .table > tbody > tr > td, .table > tfoot > tr > th, .table > tfoot > tr > td{
  width: 125px;
  max-width: 125px;
  height: 125px;
  max-height: 125px;
  display: inline-block;
}
.simple-calendar .table > caption + thead > tr:first-child > th, .simple-calendar .table > caption + thead > tr:first-child > td, .simple-calendar .table > colgroup + thead > tr:first-child > th, .simple-calendar .table > colgroup + thead > tr:first-child > td, .simple-calendar .table > thead:first-child > tr:first-child > th, .simple-calendar .table > thead:first-child > tr:first-child > td{
  height: 40px;
}
#meeting_title{
  color: #222;
  font-weight: 400;
  font-size: 16px;
}
/* Reservation */
#reservation{
  width: 800px;
  margin-top: 500px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;

  #btn_reservation{
    background-color:#66ccb9;
    color: #fff;
    width: 75px;
    height: 35px;
    text-align: center;
    margin-top: 50px;
  }
}

#reservation_message{
  height: 200px;
  margin-right: auto;
  margin-left: auto;
}
#message_title{
  font-weight: bold;
  font-size: 35px;
  color: #555555;
}

#message_detail{
  font-weight: 300;
  font-size: 18px;
  color: #555555;
}

.reservation_name{
  background-color: #66ccb9;
  border-color: transparent;
  color: #fff;
  width: 75px;
  height: 24px;
  border-radius: 3px;
  cursor: default;
  font-size: 12px; 
}

.reservation_input_name{
  width: 175px;
  border-radius: 3px;
  border-color: #e1e1e1;
  padding-left: 10px;
}

.reservation_submit{
  width: 60px;
  height: 30px;
  background-color: #fd915f;
  border-color: transparent;
  border-radius: 3px;
  color: #fff;
}

.reservation_input_date{
  width: 30px;
}

.reservation_input_phone{
  width: 175px;
  border-radius: 3px;
  border-color: #e1e1e1;
  padding-left: 10px;
}

.reservation_input_requirement{
  width: 433px;
  height: 150px;
  border-radius: 3px;
  border-color: #e1e1e1;
  padding-left: 10px;
}

#meeting_start_time_1i{
  width: 150px;
  border-radius: 3px;
  border-color: #e1e1e1;
}

#meeting_start_time_2i{
  width: 150px;
  border-radius: 3px;
  border-color: #e1e1e1;
}
#meeting_start_time_3i{
  width: 100px;
  border-radius: 3px;
  border-color: #e1e1e1;
}
#meeting_start_time_4i{
  display: none;
  width: 100px;
  border-radius: 3px;
  border-color: #e1e1e1;
}
#meeting_start_time_5i{
  display: none;
  width: 100px;
  border-radius: 3px;
  border-color: #e1e1e1;
}

#hospital_review{
  margin-right: auto;
  margin-left: auto;
  width: 90%;
}
#hospital_review_user{
}
#hospital_review_user_name{
  font-size: 15px;
}
#hospital_review_content{

}

#hospital_review_text{
  font-size: 15px;
  color: #555;
}
#hospital_review_time{
  font-size: 12px;
  color: #bbb;
}
#hospital_review_submit{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
#hospital_review_input_content{
}

#search_box_index {
    width:230px;
    margin-top: 5.5%;
    margin-left: 1%;
    position: relative;
    border: 0;
    border-radius: 30px;
    line-height: 2.5em;
    outline: transparent;
    opacity: 0.9;
    z-index: 1;
}

.search_icon_index {
  margin-top: -0.1%;
  margin-left: -3.5%;
  position: relative;
  z-index: 2;
}

#search_location {
  margin-left: 50px;
  position: relative;
  z-index: 1;
  background: url(map_location_icon.png);
  background-repeat: no-repeat;
  border: transparent;
  line-height: 2.5em;
  outline: transparent;
  cursor: pointer;
}

#hospital_detail_chart {
  hr {
    color: #e1e1e1;
    width: 70%;
  }
}