// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.navbar-static-top {
	margin-bottom: 0px;
}	

body{
	padding-top: 0px;
	background-color: #E8E8E8 ;
}

.thumbnail{
	padding: 0px;
	border: 0px;
}
#main_img_crop{
	min-width: 100% !important;
}
   
#find_my_location{
	position: relative;
	bottom: 200px;
	text-align: center;
}
