
.navbar-static-top {
	margin-bottom: 0px;
}

body{
	padding-top: 0px;
	background-color: #E8E8E8 ;
}

.thumbnail{
	padding: 0px;
	border: 0px;
}

#map {
  width: 1150px;
  height: 600px;
  margin-top: 10px;
  display: none;
}

.home_comment_1 {
	color: white;
	position: relative;
	margin-top: 10%;
	font-size: 33px;
	margin-left: 42%;
	margin-bottom: 8px;
}

#sample5_address {
  width:230px;
  margin-left: 43%;
  position: relative;
  border: 0;
  border-radius: 30px;
  line-height: 2.5em;
  outline: transparent;
  opacity: 0.8;
}

.search_icon {
	margin-top: -0.2%;
	margin-left: -3%;
	position: relative;
}

.main_img{
	min-width: 100% !important;
	min-top: 100% !important;
	margin-top: -18%;
}

