// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.navbar.navbar-fixed-top {
	margin-bottom: 0px;
}

body{
	padding-top: 0px;
}

.col-xs-9{
	padding-right: 0px;
	padding-left: 0px;
}
.col-xs-3{
	padding: 1em;
	background-color: lightgrey;
	height: 840px;
	overflow-y: auto;
	
}
::-webkit-scrollbar{
		display: none;
}

#h_name {
	max-width: 	257px;	
}

#h_body {
	background-color: white;
}

#h_index{
}

