<div class="footer">
<div class="container">
<div class="FATDOG">
	<label> 
		<div class="footer_top">
			<span class="footer_top_content">
			<%= link_to "회사소개", '#', {:style => 'color: #7f7f7f'} %>
			</span> |
			<span class="footer_top_content">
			<%= link_to "이용약관", '#', {:style => 'color: #7f7f7f'} %>
			</span> |
			<span class="footer_top_content">
			<%= link_to "커뮤니티 가이드라인", '#', {:style => 'color: #7f7f7f'} %>
			</span> | 
			<span class="footer_top_content">
			<%= link_to "문의", '#', {:style => 'color: #7f7f7f'} %>
			</span>
		</div>
		<div class="footer_bottom">
			<small> (주) </small> FATDOG Company <br>
			서울시 광진구 능동로 209 <br>
			02-3408-3114 <br>
			ALL RIGHT RESERVED. @FATDOG
		</div>
	</label>
</div>
</div>
</div>